# Integrated Assessment
Modules: Machine Learning for Business 

Student: Danton Prestes - sbs23086

# Question 2

In [4]:
import pandas as pd
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import adfuller
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("Data_text_23.csv")

In [6]:
df.head()

   Sno  X  State  ... Positive  Negative  Total_Sentiment
0    1  1  Assam  ...        1        -2                1
1    2  2  Assam  ...        1        -1                0
2    3  3  Assam  ...        1        -2                1
3    4  4  Assam  ...        1        -1                0
4    5  5  Assam  ...        1        -1                0

[5 rows x 41 columns]

In [8]:
df.describe()

                Sno             X  ...      Negative  Total_Sentiment
count  23006.000000  23006.000000  ...  23006.000000     23006.000000
mean   11503.500000    828.641833  ...     -1.056377         0.326176
std     6641.404482    776.896316  ...      0.283570         0.770302
min        1.000000      1.000000  ...     -5.000000         0.000000
25%     5752.250000    260.000000  ...     -1.000000         0.000000
50%    11503.500000    592.000000  ...     -1.000000         0.000000
75%    17254.750000   1135.000000  ...     -1.000000         0.000000
max    23006.000000   3685.000000  ...     -1.000000         6.000000

[8 rows x 28 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23006 entries, 0 to 23005
Data columns (total 41 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sno              23006 non-null  int64
 1   X                23006 non-null  int64
 2   State            23006 non-null  object
 3   conversation_id  23006 non-null  object
 4   retweet_count    23006 non-null  int64
 5   reply_count      23006 non-null  int64
 6   like_count       23006 non-null  int64
 7   quote_count      23006 non-null  int64
 8   Buzz             23006 non-null  int64
 9   id               23006 non-null  object
 10  Date1            23006 non-null  object
 11  OpnHours         23006 non-null  object
 12  DateDay          23006 non-null  object
 13  Day              23006 non-null  object
 14  Time             23006 non-null  object
 15  3-Phase          23006 non-null  object
 16  4-phase          23006 non-null  object
 17  Followers        23006 non-null  int64
 18  Status text      23006 non-null  object
 19  Vividness        23006 non-null  object
 20  ContentType      23006 non-null  object
 21  WC               23006 non-null  int64
 22  Clout            23006 non-null  float64
 23  Cognition        23006 non-null  float64
 24  Affect           23006 non-null  float64
 25  emotion          23006 non-null  float64
 26  emo_pos          23006 non-null  float64
 27  emo_neg          23006 non-null  float64
 28  we               23006 non-null  float64
 29  tentat           23006 non-null  float64
 30  Drives           23006 non-null  float64
 31  i                23006 non-null  float64
 32  we.1             23006 non-null  float64
 33  they             23006 non-null  float64
 34  insight          23006 non-null  float64
 35  cause            23006 non-null  float64
 36  discrep          23006 non-null  float64
 37  certitude        23006 non-null  float64
 38  Positive         23006 non-null  int64
 39  Negative         23006 non-null  int64
 40  Total_Sentiment  23006 non-null  int64
dtypes: float64(16), int64(12), object(13)
memory usage: 7.2+ MB